
@font-face {
    font-family: "Amiamie";
    src: url("../fonts/amiamie/Amiamie-RegularRound.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Routed Gothic";
    src: url("../fonts/routed-gothic/routed-gothic.ttf");
    font-weight: normal;
}


body{

    line-height: 1.2;
    margin: 3em;
}

div.amiamie, div.routedgothic, div.systemui {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 5em;
}

div.amiamie div, div.routedgothic div, div.systemui div {
    display: inline-block;
    width: calc(33% - 4em);
    margin: 2em;
}

p {
    font-size: 1.15em;
}

.amiamie {
    font-family: "Amiamie";
}

.routedgothic {
    font-family: "Routed Gothic";
}

.systemui {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: 6em;
}
h2{
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 0.5em;
    font-size: 2em;
}