<!DOCTYPE html>

<html lang="fr">

  <head>

    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    {% for font_section in range(3) %}
    
    {% for filename, lang in content.items() %}

    <div>
      {{ lang['txt'] }}

      <h2>{{ filename.split("_")[1] }}</h2>
    </div>

    {% endfor %}
  {% endfor %}

  </body>

</html>
