@font-face {
  font-family: "Amiamie";
  src: url("./fonts/amiamie/Amiamie-RegularRound.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Routed Gothic";
  src: url("./fonts/routed-gothic/routed-gothic.ttf");
  font-weight: normal;
}
body {
  margin: 0;
}
.slider {
  position: fixed;
  background: white;
  width: 50ch;
  z-index: 2;
}

.system {
  font-family: "system-ui";
}

.routed {
  font-family: "Routed Gothic";
}
.amiamie {
  font-family: "Amiamie";
}

#content-wrapper {
  display: flex;
  gap: 4rem;
}
#content-wrapper > div {
  width: 60ch;
}
h1 {
  font-size: 100px;
  margin: 0;
}
h2 {
  font-size: 80px;
}
h3 {
  font-size: 60px;
}
h4 {
  font-size: 40px;
}

p {
  font-size: 14px;
}
.a > h1,
.a > h2,
.a > h3,
.a > h4,
.a > p {
  filter: url(#filter_1);
}
.b > h1,
.b > h2,
.b > h3,
.b > h4,
.b > p {
  filter: url(#filter_2);
}
.c > h1,
.c > h2,
.c > h3,
.c > h4,
.c > p {
  filter: url(#filter_3);
}
.d > h1,
.d > h2,
.d > h3,
.d > h4,
.d > p {
  filter: url(#filter_4);
}
