
:root{
    --c-active: PeachPuff;
    --c-link: blue;
    --c-back: gainsboro;
}

a, a:visited{
    color: var(--c-link);
}

.pad{
    padding: 1rem;
}
.big{
    font-size: 32px;
}


.partners{
    margin: 0 0 1rem;
}


small{
    display: block;
    color: purple;
    font-size: 16px;
}

p + small{
    margin-top: 1rem;
}

h1{
    font-size: 64px;
}

header{
    /* display: grid;
    grid-template-columns: 1fr auto;
    gap: 3rem; */
}

.special-nav{
    background-color: var(--c-back);
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

nav.main ul{
    display: flex;

    border-top: thin solid;
    border-bottom: thin solid;
}
nav.main ul > *{
    flex: 0 1 100%;
    cursor: pointer;
    color: var(--c-link);
    background-color: var(--c-back);
}
nav.main ul > *:not(:first-child){
    border-left: thin solid black;
}

main{
    position: relative;
}
main .list{
    max-width: 48rem;
    margin: 1rem auto;
}

.filters{
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: var(--c-back);
    width: 6rem;
}

.active{
    background-color: var(--c-active) !important;
}


/* --- */

.grid{
    display: grid;

    grid-template-columns: 16rem 1fr;
    grid-template-rows:  auto auto 1fr;
}

.grid .partners{
    grid-column: 1 / span 1;
    grid-row: 1 / -1;

    border-top: thin solid;
    border-right: thin solid;

    margin-bottom: 0;
    position: relative;
    z-index: 9999;
    background: white;

    min-height: 100vh;
}

.grid .partners p{
    margin: 1rem 0;
}

.grid .bio{
    margin-top: 0 !important;
    position: relative;
    z-index: -1;
}

/* --- */

.ultimate-grid{

    margin-top: 3rem;
    border-top: solid;

    display: grid;

    grid-template-columns: 16rem 2fr 2fr 1fr;
    grid-template-rows: auto repeat(6, 1fr);
    grid-auto-flow: column;
}

.ultimate-grid > div{
    outline: thin solid;
}

/* --- */

nav + .bio{
    margin-top: -1rem;
}
.bio{
    background-color: var(--c-active);
    border-top: thin solid;
}

/* --- */

h2{
    margin-bottom: 1rem;
}
.columns{
    border-top: thin solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    min-height: 100vh;
}
.columns .filters{
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--c-back);
    width: 100%;
    grid-column: 1 / -1;
}

.column{
    position: relative;
}
.column .filters{
    width: calc(100% - 2rem);
}
.column:not(:last-of-type){
    border-right: thin solid;
}

/* --- */

body > .filters{
    position: static;
    top: 0;
    left: 0;

    width: 100%;

    border-top: thin solid;
}

.bigger-filter{
    width: 12rem;
}

/* --- */

.fake-objects{
    padding: 2rem;
    margin: 2rem;
    border: thin solid;
}