img {
    height: 500px;
    width: auto;
    margin: 1vw;
}

div {
    border-bottom: 1px solid black;
    padding: 0.5vw;
}

p {
    margin-left: 1vw;
    font-family: monospace;
    font-size: 1.5em;
}

#convolvematrix_blend img {
    filter: url(#filter_convolvematrix_blend);
}

#colormatrix1 img {
    filter: url(#filter_colormatrix1);
}

#colormatrix2 img {
    filter: url(#filter_colormatrix2);
}

#colormatrix_componenttransfer1 img {
    filter: url(#filter_colormatrix_componenttransfer1);
}

#colormatrix_componenttransfer2 img {
    filter: url(#filter_colormatrix_componenttransfer2);
}

#gaussianblur img {
    filter: url(#filter_gaussianblur);
}

#morphology1 img {
    filter: url(#filter_morphology1);
}

#morphology2 img {
    filter: url(#filter_morphology2);
}

#turbulence_displacementfilter1 img {
    filter: url(#filter_displacementFilter1);
}

#turbulence_displacementfilter2 img {
    filter: url(#filter_displacementFilter2);
}

#diffuselighting_composite img {
    filter: url(#filter_diffuselighting_composite);
}