

/* sans bold */
@font-face {
    font-family: 'cmunsx';
    src: url("fonts/Computer\ Modern/Sans/cmunsx.ttf");
}

/* serif bold */
@font-face {
    font-family: 'cmunbx';
    src: url("fonts/Computer\ Modern/Serif/cmunbx.ttf");
}

/* amieamie rounded */
@font-face {
    font-family: 'amieamie';
    src: url("fonts/amiamie/Amiamie-Typeface-main/otf/Amiamie-BlackRound.otf");
}

:root{
    --lh: 1.25rem;
    --border: 1px solid black;

    --font-size: 60px;
    --logo-font-size: 180px;
    --ls: 0.4em;

    --font: 'amieamie';
    --font-text: system-ui;

    --gap: 0.75rem;
}

html{
    font-size: 1em;
}
body{
    font-family: monospace;
    line-height: var(--lh);
}
h1{
    font-weight: bold;  
}

/* --- layout --- */

/* - header */
header{
    background-color: black;
    color: white;
    padding: var(--gap);
    /* border-bottom: var(--border); */
}

.logo__display{
    margin-top: 3rem;
    margin-bottom: 0.5em;
}

body.line .logo__display,
body.line .logo__mini{
    text-decoration: line-through;
}

/* - logo */

.logo{
    position: relative;
}
.logo__interface,
.logo__controls{
    padding: var(--gap);
}
.logo__display{
    padding: 0 var(--gap);
}
.about-text{
    padding: calc(2 * var(--gap)) var(--gap);
}
.logo__interface{
    background-color: lightgray;
    justify-content: space-between;
}

.logo__controls label:last-of-type{
    margin-top: var(--gap);
}

.logo__interface,
.logo__controls{
    display: flex;
    align-items: center;
    overflow-x: auto;
}
.logo__controls{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    flex-direction: column;
    align-items: flex-start;
}
.logo__controls button{
    margin-top: 1rem;
}
.logo__display,
.logo__mini{
    filter: grayscale(1);
    
    font-family: var(--font);
    line-height: 1.5;
    text-align: center;

    letter-spacing: var(--ls);
    text-transform: lowercase;
}
.logo__display{
    font-size: var(--logo-font-size);

    /* border-bottom: var(--border); */
}
.logo__mini{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 40px;
}

/* --- about-text typo --- */

.about-text div{

    margin-left: auto;
    margin-right: auto;
    max-width: 32rem;
    font-size: 1rem;
    font-family: var(--font-text);
}
.about-text div p + p{
    text-indent: 1rem;
}
.about-text p:last-of-type{
    margin-top: 1rem;
}
.about-text{
    border-bottom: var(--border);
}

/* - list of filter */

details{
    border-bottom: var(--border);
}
summary{
    padding: var(--gap);
    cursor: pointer;
}
h2{
    display: inline-block;
    font-weight: bold;
}
details ul{
    padding: var(--gap);

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.DIY summary{
    background-color: pink;
}

/* --- svg filter display --- */

.filter{
    position: relative;
    overflow: hidden;
}

.filter__title{
    position: relative;
    z-index: 1;
}
.filter__text{
    line-height: 1;

    font-family: var(--font);
    font-size: var(--font-size);
    padding: calc(var(--gap) * 3) calc(var(--gap) * 2);
    font-weight: bold;

    position: relative;
    z-index: 0;
}
.filter__text::after{
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin: auto;
    background: radial-gradient(closest-side, white, limegreen, blue, black);
}

/* --- svg filter code --- */

.filter__code{
    display: none;

    background-color: lightgrey;
    white-space: pre;
    padding: var(--gap);

    
    position: absolute;
    top: var(--lh);
    left: 0;
    max-width: 100%;
    max-height: calc(100% - var(--lh));
    box-sizing: border-box;
    overflow: scroll;
    z-index: 2;
}

.filter__title{
    cursor: pointer;
    background-color: whitesmoke;
    height: var(--lh);
}
.filter__title:hover + .filter__code{
    display: block;
}
.filter__code:hover{
    display: block;
}

/* --- hidding the svg --- */

.filters > *{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.test-zone{
    overflow: auto;
    position: relative;
}


.about-text a{
    color: blue;
}
.about-text a:hover{
    filter: url("#f011");
}

#img_filters {
    display: flex;
    flex-direction: column;
}

#img_filters h1 {
    background-color: lightgrey;
    padding: 1em;
}

#img_filters div {
    padding: 2em;
    border-bottom: 1px solid black;
}

#img_filters p {
    margin-bottom: 1em;
}

#img_filters img {
    margin-right: 2em;
    margin-bottom: 2em;
}

#convolvematrix_blend img {
    filter: url(#filter_convolvematrix_blend);
}

#colormatrix1 img {
    filter: url(#filter_colormatrix1);
}

#colormatrix2 img {
    filter: url(#filter_colormatrix2);
}

#colormatrix_componenttransfer1 img {
    filter: url(#filter_colormatrix_componenttransfer1);
}

#colormatrix_componenttransfer2 img {
    filter: url(#filter_colormatrix_componenttransfer2);
}

#gaussianblur img {
    filter: url(#filter_gaussianblur);
}

#morphology1 img {
    filter: url(#filter_morphology1);
}

#morphology2 img {
    filter: url(#filter_morphology2);
}

#turbulence_displacementfilter1 img {
    filter: url(#filter_displacementFilter1);
}

#turbulence_displacementfilter2 img {
    filter: url(#filter_displacementFilter2);
}

#diffuselighting_composite img {
    filter: url(#filter_diffuselighting_composite);
}