<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="UTF-8" />

    <title>{{ options['title'] }}</title>
    <meta name="description" content="{{ options['description'] }}" />

    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="main.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    {% set ns = "{http://www.w3.org/2000/svg}" %} 
    {% set nsi = "{http://www.inkscape.org/namespaces/inkscape}" %}

    <aside class="filters">
      {% for filters in FILTERS_PATHS%}
        {% include filters%}
      {% endfor %}
    </aside>

    <aside class="logo">

      <div class="logo__interface">
        {% for i in range(6) %}
        <select name="filter-{{loop.index}}">
          {% for category_name, category in filters.items() %}
          <optgroup label="{{category_name}}">
            {% for f in category %} 
              {% if f.attrib['id'] in FAV_FILTERS %}
                <option value="{{ f.attrib['id'] }}">
                  {{ f.attrib['label'] }}
                </option>
              {% endif %}
            {% endfor %}
          </optgroup>
          {% endfor %}
        </select>
        {% endfor %}
      </div>

      <div class="test-zone">
        <div class="logo__display">
          <span>T</span><span>E</span><span>K</span><span>H</span><span>N</span
          ><span>È</span>
        </div>
        <div class="logo__mini">
          <span>T</span><span>E</span><span>K</span><span>H</span><span>N</span
          ><span>È</span>
        </div>
        <div class="logo__controls">
          <label>font-size</label>
          <input
            id="slider-width"
            class="css-slider"
            type="range"
            min="20"
            value="180"
            max="240"
            step="1"
            data-unit="px"
            data-prop="--logo-font-size"
          />
          <label>letter-spacing</label>
          <input
            id="slider-width"
            class="css-slider"
            type="range"
            min="0"
            value="0.4"
            max="1"
            step="0.05"
            data-unit="em"
            data-prop="--ls"
          />
          <label>feDisplacementMap scale</label>
          <input
            id="slider-baseval"
            class="svg-slider"
            type="range"
            min="1"
            max="100"
            value="50"
            step="1"
            data-primitive="feDisplacementMap"
            data-prop="scale"
          />
          <button class="random-filter-button">randomize filters</button>
          <label for="strike-checkbox">line-through</label>
          <input type="checkbox" 
            id="strike-checkbox" 
            class="class-checkbox"
            data-class="line"></input>
        </div>

      </div>

    </aside>
    <div id="img_filters">
      <h1>Image filters</h1>
      <svg width="1" height="1" viewBox="0 0 1 1">
        <filter id="filter_convolvematrix_blend" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
            <feConvolveMatrix order="3 3" kernelMatrix="-2 0 0 
                0 -3 0 
                0 0 3" divisor="2" bias="0.9" targetX="0" targetY="0" edgeMode="duplicate" preserveAlpha="true" x="0%" y="0%" width="100%" height="100%" in="blend" result="convolveMatrix1"/>
            <feBlend mode="multiply" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" in2="convolveMatrix1" result="blend1"/>
        </filter>
        <filter id="filter_colormatrix1" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
            <feColorMatrix type="luminanceToAlpha" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" result="colormatrix4"/>
        </filter>
        <filter id="filter_colormatrix2" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
            <feColorMatrix type="saturate" values="5" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" result="colormatrix4"/>
        </filter>
        <filter id="filter_colormatrix_componenttransfer1" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
            <feColorMatrix type="saturate" values="5" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" result="colormatrix4"/>
            <feComponentTransfer x="0%" y="0%" width="100%" height="100%" in="colormatrix4" result="componentTransfer2">
                    <feFuncR type="identity"/>
                <feFuncG type="table" tableValues="0 1 0"/>
                <feFuncB type="table" tableValues="1 0 1"/>
                <feFuncA type="table" tableValues="0 1"/>
              </feComponentTransfer>
        </filter>
        <filter id="filter_colormatrix_componenttransfer2" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
            <feColorMatrix type="saturate" values="5" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" result="colormatrix4"/>
            <feComponentTransfer x="0%" y="0%" width="100%" height="100%" in="colormatrix4" result="componentTransfer2">
                    <feFuncR type="discrete" tableValues="1 0 1"/>
                <feFuncG type="table" tableValues="0 1 0"/>
                <feFuncB type="table" tableValues="1 0 1"/>
                <feFuncA type="linear" slope="2.8" intercept="0"/>
              </feComponentTransfer>
        </filter>
        <filter id="filter_gaussianblur" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
            <feGaussianBlur stdDeviation="0 5" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur1"/>
        </filter>
        <filter id="filter_morphology1" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
            <feMorphology operator="erode" radius="15 3" x="0%" y="0%" width="100%" height="100%" in="blur2" result="morphology2"/>
        </filter>
        <filter id="filter_morphology2" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">
            <feMorphology operator="dilate" radius="2 7" x="0%" y="0%" width="100%" height="100%" in="blur2" result="morphology2"/>
        </filter>
        <filter id="filter_displacementFilter1">
            <feTurbulence type="turbulence" baseFrequency="0.5"
                numOctaves="1" result="turbulence"/>
            <feDisplacementMap in2="turbulence" in="SourceGraphic"
                scale="50" xChannelSelector="R" yChannelSelector="G"/>
        </filter>
        <filter id="filter_displacementFilter2">
            <feTurbulence type="turbulence" baseFrequency="0.15"
                numOctaves="1" result="turbulence"/>
            <feDisplacementMap in2="turbulence" in="SourceGraphic"
                scale="50" xChannelSelector="R" yChannelSelector="G"/>
        </filter>
        <filter id="filter_diffuselighting_composite">
            <feDiffuseLighting in="SourceGraphic" result="light" lighting-color="white">
                <feDistantLight azimuth="240" elevation="20" />
              </feDiffuseLighting>
            <feComposite
              in="SourceGraphic"
              in2="light"
              operator="arithmetic"
              k1="1"
              k2="0"
              k3="0"
              k4="0" />
          </filter>
    </svg>
    <div id="convolvematrix_blend">
        <p>ConvolveMatrix + Blend</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    <div id="colormatrix1">
        <p>ColorMatrix</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    <div id="colormatrix2">
        <p>ColorMatrix</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    <div id="colormatrix_componenttransfer1">
        <p>ColorMatrix + Component transfer</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    <div id="colormatrix_componenttransfer2">
        <p>ColorMatrix + Component transfer</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    <div id="gaussianblur">
        <p>Gaussian blur</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    <div id="morphology1">
        <p>Morphology</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    <div id="morphology2">
        <p>Morphology</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    <div id="turbulence_displacementfilter1">
        <p>Turbulence + DisplacementFilter</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    <div id="turbulence_displacementfilter2">
        <p>Turbulence + DisplacementFilter</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
    </div>
    <div id="diffuselighting_composite">
        <p>Diffuse lighting + Composite</p>
        {% for img in IMG_PATH %}
          <img src="{{ img }}" alt="">
        {% endfor %}
        </div>
    </div>

    <script src="interface.js"></script>
  </body>
</html>
