<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="UTF-8" />

    <title>{{ options['title'] }}</title>
    <meta name="description" content="{{ options['description'] }}" />

    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="main.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    {% set ns = "{http://www.w3.org/2000/svg}" %} 
    {% set nsi = "{http://www.inkscape.org/namespaces/inkscape}" %}

    <aside class="filters">
      {% for filters in FILTERS_PATHS%}
        {% include filters%}
      {% endfor %}
    </aside>

    <header>
      <h1>inkscape svg filter</h1>
    </header>

    <aside class="logo">
      <div class="logo__interface">
        {% for i in range(6) %}
        <select name="filter-{{loop.index}}">
          {% for category_name, category in filters.items() %}
          <optgroup label="{{category_name}}">
            {% for f in category %} 
              {% if f.attrib['id'] in FAV_FILTERS %}
                <option value="{{ f.attrib['id'] }}">
                  {{ f.attrib['label'] }}
                </option>
              {% endif %}
            {% endfor %}
          </optgroup>
          {% endfor %}
        </select>
        {% endfor %}
      </div>

      <div class="test-zone">
        <div class="logo__display">
          <span>T</span><span>E</span><span>K</span><span>H</span><span>N</span
          ><span>È</span>
        </div>
        <div class="logo__mini">
          <span>T</span><span>E</span><span>K</span><span>H</span><span>N</span
          ><span>È</span>
        </div>
        <div class="logo__controls">
          <label>font-size</label>
          <input
            id="slider-width"
            class="css-slider"
            type="range"
            min="20"
            value="180"
            max="240"
            step="1"
            data-unit="px"
            data-prop="--logo-font-size"
          />
          <label>letter-spacing</label>
          <input
            id="slider-width"
            class="css-slider"
            type="range"
            min="0"
            value="0.4"
            max="1"
            step="0.05"
            data-unit="em"
            data-prop="--ls"
          />
          <label>feDisplacementMap scale</label>
          <input
            id="slider-baseval"
            class="svg-slider"
            type="range"
            min="1"
            max="100"
            value="50"
            step="1"
            data-primitive="feDisplacementMap"
            data-prop="scale"
          />
          <button class="random-filter-button">randomize filters</button>
          <!-- <button class="random-letter-button">randomize letters</button> -->
        </div>

      <aside class="about-text">
        <div>
          <p>
            <a href="#">tekhné</a> is a collaborative project in which six European organisations
            aim to explore the emancipatory potential of technology in music and
            sound art. By engaging critically and creatively with technology, and
            by putting the focus on <a href="#">the user</a> rather than the developer,
            technologies and methodologies can be demystified and lead to more
            autonomous mindsets towards the tools around us.
          </p>
          <p>
            Many moments of social and artistic change have been historically
            brought about by shifts in technology. Taking this as inspiration, <a href="#">the
            project</a> seeks to contribute to the wider ongoing conversations around
            technology and sound cultures. tekhné will provide a platform for
            creatives and cultural workers via a combination of research,
            experimentation, creation, education, and dissemination offered in the
            form of <a href="#">residencies</a>, <a href="#">commissions</a>, <a href="#">workshops</a>, <a href="#">performances</a>,
            <a href="#">exhibitions</a>, <a href="#">talks</a>, <a href="#">publications</a>, and <a href="#">radio broadcasts</a>.
          </p>
          <p>
            The project aims for a balance between theoretical reflection and
            practical implementation, providing experiences to people who wish to
            interact in inventive ways with different types of technology. tekhné
            aims to support a more <a href="#">inclusive field</a>, and to use sound and music as
            a vehicle to this end.
          </p>
          <p>
            tekhné is initiated by
            <span>Q-O2</span> (BE), <span>CTM Festival</span> (DE),
            <span>Skaņu Mežs</span> (LV), <span>OUT.RA</span> (PT),
            <span>GMEA</span> (FR), <span>TRAFO</span> (PL).
          </p>
        </div>

      </aside>
    </div>

    <main>
      {% for category_name, category in filters.items() %}

      <details {% if category_name == 'DIY' %} class="DIY" {% endif %}>
        <summary><h2>{{category_name}}</h2></summary>
        <ul>
          {% for f in category %}
          <li class="filter">
            <h3 class="filter__title">{{ f.attrib['label'] }}</h3>
            <div class="filter__code">{{ f.attrib['code']|escape }}</div>
            <div
              class="filter__text"
              style="filter: url(#{{ f.attrib['id'] }})"
            >
              TEKHNÈ
            </div>

            <div style="filter: url(#{{f.attrib['id']}})">
              <img src="./test_image.jpg" alt="" width="256" height="256" />
            </div>
          </li>
          {% endfor %}
        </ul>
      </details>

      {% endfor %}
    </main>
    

    <script src="interface.js"></script>
  </body>
</html>
